@page "/"
@inject HttpClient Http
@using System.Web
@using System.Text.Json

<PageTitle>Home</PageTitle>

<h1>BENVENUTO!</h1>

Seleziona un museo

<ul>

        @foreach (var museo in MuseiData.Elenco)
        {
            <li>
                <a class="museo-link" href="@($"/musei/{museo.Id}")">@museo.Nome</a>
            </li>
        }
</ul>

@code {
    protected async override void OnInitialized()
    {
        if(MuseiData.Elenco.Count == 0)
        {
            MuseiData.Elenco.AddRange([
                new Museo()
                {
                    Id = "mantova",
                    Nome = "PALAZZO DUCALE DI MANTOVA",
                    Descrizione = "Storica residenza dei Gonzaga, è uno dei più grandi complessi monumentali d’Europa. Celebre per la Camera degli Sposi affrescata da Mantegna, unisce arte rinascimentale, architettura e giardini in un’unica visita immersiva.",
                    ImmagineUrl = "mantova.jpg",
                },

                new Museo()
                {
                    Id = "grotte",
                    Nome = "GROTTE DI CATULLO E MUSEO ARCHEOLOGICO DI SIRMIONE",
                    Descrizione = "Uno dei siti archeologici romani più suggestivi d’Italia, situato in una posizione panoramica sul Lago di Garda. Combina rovine di una villa romana monumentale con un museo moderno e ben curato.",
                    ImmagineUrl = "grotte.jpg",
                },

                new Museo()
                {
                    Id = "salce",
                    Nome = "MUSEO NAZIONALE COLLEZIONE SALCE DI TREVISO",
                    Descrizione = "Unico nel suo genere, conserva la più ampia collezione italiana di manifesti pubblicitari storici. Ospitato in un contesto architettonico elegante, unisce grafica, arte e storia della comunicazione.",
                    ImmagineUrl = "salce.jpg",
                }
            ]);

            for (int ii = 0; ii < MuseiData.Elenco.Count; ii++)
            {
                MuseiData.Elenco[ii].Valutazioni = await GetEval(MuseiData.Elenco[ii].Id);
            }
        }
    }

    public async Task<Valutazione[]?> GetEval(string id)
    {
        try
        {
            string json = await Http.GetStringAsync($"sample-data/{id}.json");
            if (!string.IsNullOrEmpty(json)) return JsonSerializer.Deserialize<Valutazione[]?>(json);
            else return null;
        }
        catch(Exception ex)
        {
            return null;
        }
    }
}
