@page "/"
@inject HttpClient Http
@using System.Web
@using System.Text.Json

<PageTitle>Home</PageTitle>

<h1>BENVENUTO!</h1>

Seleziona un museo

<ul>

        @foreach (var museo in MuseiData.Elenco)
        {
            <li>
                <a class="museo-link" href="@($"/musei/{museo.Id}")">@museo.Nome</a>
            </li>
        }
    

</ul>

@code {


    protected async override void OnInitialized()
    {
        if(MuseiData.Elenco.Count == 0)
        {
            MuseiData.Elenco.Add(
    new Museo()
    {
        Id = "mantova",
        Nome = "PALAZZO DUCALE DI MANTOVA",
        Descrizione = "Il Palazzo Ducale di Mantova, noto anche come reggia dei Gonzaga, è uno dei principali edifici storici cittadini.",
        ImmagineUrl = "mantova.jpg",
    }
);

            for (int ii = 0; ii < MuseiData.Elenco.Count; ii++)
            {
                MuseiData.Elenco[ii].Valutazioni = await GetEval(MuseiData.Elenco[ii].Id);
            }
        }
    }

    public async Task<Valutazione[]?> GetEval(string id)
    {
        string json = await Http.GetStringAsync($"sample-data/{id}.json");
        return JsonSerializer.Deserialize<Valutazione[]?>(json);
    }
}
