@page "/"
@inject HttpClient Http
@using System.Web
@using System.Text.Json

<PageTitle>Home</PageTitle>

<h1>BENVENUTO!</h1>

Seleziona un museo

<ul>

        @foreach (var museo in MuseiData.Elenco)
        {
            <li>
                <a class="museo-link" href="@($"/musei/{museo.Id}")">@museo.Nome</a>
            </li>
        }
</ul>

@code {
    protected async override void OnInitialized()
    {
        if(MuseiData.Elenco.Count == 0)
        {
            MuseiData.Elenco.AddRange([
                new Museo()
                {
                    Id = "mantova",
                    Nome = "PALAZZO DUCALE DI MANTOVA",
                    Descrizione = "Il Palazzo Ducale di Mantova, noto anche come reggia dei Gonzaga, è uno dei principali edifici storici cittadini.",
                    ImmagineUrl = "mantova.jpg",
                },

                // new Museo()
                // {
                //     Id = "mantova_pre",
                //     Nome = "PALAZZO DUCALE DI MANTOVA (PRE PNRR)",
                //     Descrizione = "Il Palazzo Ducale di Mantova, noto anche come reggia dei Gonzaga, è uno dei principali edifici storici cittadini.",
                //     ImmagineUrl = "mantova.jpg",
                // },

                new Museo()
                {
                    Id = "louvre",
                    Nome = "MUSEO DEL LOUVRE",
                    Descrizione = "Il Museo del Louvre di Parigi, in Francia, è uno dei più celebri musei del mondo e il primo per numero di visitatori (9,6 milioni nel 2019). Si trova sulla rive droite, nel primo arrondissement, tra la Senna e rue de Rivoli.",
                    ImmagineUrl = "louvre.jpg",
                }
            ]);

            for (int ii = 0; ii < MuseiData.Elenco.Count; ii++)
            {
                MuseiData.Elenco[ii].Valutazioni = await GetEval(MuseiData.Elenco[ii].Id);
            }
        }
    }

    public async Task<Valutazione[]?> GetEval(string id)
    {
        try
        {
            string json = await Http.GetStringAsync($"sample-data/{id}.json");
            if (!string.IsNullOrEmpty(json)) return JsonSerializer.Deserialize<Valutazione[]?>(json);
            else return null;
        }
        catch(Exception ex)
        {
            return null;
        }
    }
}
